.about-section {  
  max-width: 75rem;
  margin: 0 auto;
  margin-block: 1rem; /*A margin-block tulajdonság egyszerre állítja be a felső (margin-top) és alsó (margin-bottom) margót. Ez egy modernebb és rövidebb írásmód.*/   
  display: flex; /*Így került a szöveg mellé a kép és nem alá*/
  justify-content: space-between; /*A flexbox elemeket a konténerben egyenletesen osztja el, a konténer szélességét figyelembe véve. */
}

.about-content {
  flex: 0 0 50%;  /*A flex tulajdonságok a flexbox elemek méretét, sorrendjét és viselkedését szabályozzák. A flex tulajdonságok három értéket tartalmaznak: flex-grow, flex-shrink és flex-basis. */
  margin-block: 1rem; 
  display: flex; 
  justify-content: space-between;
}

.about-content {
  flex: 0 0 50%; 
}

.about-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #F4CE14;
}

.about-subtitle {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.about-text {
  line-height: 1.6rem;  
  color: black;
}

.about-text-open::before {
  content: "⏰";
  margin-right: 0.5rem; 
}

.about-text-reservation::before {
  content: "📅"; 
  margin-right: 0.5rem; 
}

.about-text-open,
.about-text-reservation {
  line-height: 1.6rem;
  margin-top: 50px;
  color: #495e57;
  font-weight: bold;
}

.about-images { 
  margin-top: 3rem;
}

.image-container {  
  margin-bottom: 1rem;
}

.about-pic {
  width: 23rem;
  height: 17rem;
  margin-bottom: 5px;
  border-radius: 5%;
}


@media screen and (max-width: 1200px) { 
  .about-section{
    margin-right: 2rem;
    margin-left: 2rem;
  }
}


@media screen and (max-width: 768px) { 
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-pic {
    width: 21rem;
    height: 15rem;
  }
}
