.footer-layout {
  display: flex;  
  flex-wrap: wrap;  
  width: 100%;    
  background-color: #495e57;
}

.footer-branding, .footer-sitemap, .footer-contact {
  flex: 1;  
  padding: 8px;
  text-align: center;
}

.footer-branding img {
  height: 5rem; 
}

.footer-sitemap h4, .footer-contact h4 {
  font-size: 1.6rem; 
  color: white;
}

.footer-links {
  display: block; 
  color: white;
  text-decoration: none; 
  font-size: 1.5rem;
  padding: 0.1rem;
  transition: color 0.3s ease;
}

.footer-links:hover {
  color: #F4CE14;
}

address {

  font-style: normal; /* Normál betűstílus */

  font-style: normal; 

  color: white;
}

.footer-tel {

  display: block; /* Blokk elem */
  color: white;
  text-decoration: none;  /* Szöveg aláhúzás eltávolítása */

  display: block; 
  color: white;
  text-decoration: none; 

  padding-top: 2.3rem;
}

.footer-email {

  display: block; /* Blokk elem */
  color: white;
  text-decoration: none;  /* Szöveg aláhúzás eltávolítása */

  display: block;
  color: white;
  text-decoration: none; 

}

.footer-copyright {
  padding: 10px 0;  
  width: 100%;  
}

.footer-copyright p {
  color: #ccc;
  font-size: 0.9rem;
  margin: 0;
  text-align: center;
}

/* Média lekérdezés 1200px-nél kisebb képernyőkhöz */
@media (max-width: 1200px) {
  .footer-layout {
    flex-direction: column;
  }

  .footer-branding img {
    height: 3.1rem;
  }

  .footer-branding, .footer-sitemap, .footer-contact {
    padding: 10px;
  }

  .footer-sitemap h4, .footer-contact h4 {
    font-size: 1.2rem;
  }

  .footer-links {
    font-size: 1.1rem;
  }
}