.hero-container {   
    margin: 0 auto;     
    width: 65%;         
    height: 18rem;      
    background: linear-gradient(rgba(0, 0, 0, 0.455), rgba(0, 0, 0, 0.455)), url("../images/specials/hero2.jpg") no-repeat center / cover;
    overflow: hidden;    
    border-radius: 15px; 
}

.hero-title {
    font-weight: normal;   
    color: #F4CE14; 
    font-size: 2rem;
    text-align: center;     
}

.hero-subtitle {
    font-weight: normal;    
    color: #fff; 
    font-size: 1.5rem;  
    text-align: center;
}

.hero-container p {
    color: white;
    text-align: center;
}

.reserve-btn {
    border: none;          
    border-radius: 15px;   
    background: #F4CE14;  
    margin: 2.5rem auto 0;  
    display: block;         
    cursor: pointer;      
    padding: 5px 20px;    
    transition: all 0.3s ease;
}

.hero-link {    
    text-decoration: none; 
}

.reserve-btn:hover {    
    color: white;    
}


/*Kisebb képernyők esetén alkalmazott stílusok.*/
@media (max-width: 768px) { 
    .hero-container {
        width: 90%;
        height: 18rem;
    }

    .hero-title {
    font-size: 1.8rem;
    }

    .hero-subtitle {
    font-size: 1.4rem;  
    }
}
