.navbar {
  display: flex; /* Rugalmas elrendezés */
  justify-content: space-between; /* Elemeken belüli térköz */
  align-items: center; /* Középre igazítás */
  padding-right: 20rem; /* Jobb oldali belső margó */
}

/* Logó */
.logo img { 
  padding-left: 19rem; 
  margin: 1rem; 
}

/* Menü ikon (hamburger) */
.menu-icon {  
  display: none; /* Alapértelmezett elrejtés */
  flex-direction: column; /* Oszlop elrendezés. A 3 vonal(bar) egymás alatt lesz */
  cursor: pointer; /* Kéz kurzor */
  margin-top: 0.4rem; /* Felső margó */
}

/* Menü ikon sávok */
.menu-icon .bar { 
  width: 25px; /* Szélesség */
  height: 3px; /* Magasság */
  background-color: #495e57;
  margin: 4px 0; /* Felső és alsó margó 4px*/
  transition: 0.5s; /* Átmeneti idő */
} 

.nav-links {
  display: flex;
  list-style: none; 
  margin-top: 1.7rem; 
  z-index: 1000;
}

.nav-links li {
  margin: 0 1rem; 
}

.nav-links a {
  color: black;
  text-decoration: none; 
  font-size: 1.1rem; 
  transition: color 0.3s ease; 
}

.nav-links a.active {
  color: #04AA6D; 
}

.nav-links a:hover {
  color: #F4CE14; 
}


/* Média lekérdezés 1200px-nél kisebb képernyőkhöz */
@media (max-width: 1200px) {
  .navbar {
      padding-right: 1rem; 
  }  
  
  .logo img {
    height: 3.1rem;
    padding-left: 1rem; 
  }
  
  .nav-links a {
    color: black;
    font-size: 1rem; 
  }
}

/* Média lekérdezés kisebb képernyőkhöz */
@media (max-width: 768px) {
  .menu-icon {
  display: flex;
  }

  .nav-links {
  display: none; 
  flex-direction: column; 
  width: 100%; 
  position: absolute; 
  top: 2.5rem; 
  background-color: #495e57;
  padding: 1rem 0;
  }

  .nav-links.visible {
  display: flex; 
  }

  .nav-links li {
  margin: 1rem 0; 
  text-align: center;
  }

  .navbar.open .menu-icon .bar:nth-child(2) { 
      transform: rotate(-55deg) translate(5px, 4px); /* Második sáv forgatása */
  }
    
  .navbar.open .menu-icon .bar:nth-child(3) { 
      transform: rotate(55deg) translate(-14px, -2px); /* Harmadik sáv forgatása */
  }
}