.social-card-container {
    text-align: center;
    background: #EDEFEE;
}

.testimonial-heading {
    padding: 16px 0;
}

.social-card-list {
    display: flex;    
    flex-wrap: wrap;    
    justify-content: center;    
    gap: 10px;
}
