  .social-card {  /* A kártya stílusa */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 5px 5px 20px 5px; 
    transition: transform 0.3s; /* Animáció */
    width: 18.5rem; /* A kártya szélessége */
    height: 18.5rem;  /* A kártya magassága */
    transition: transform 0.3s; 
    width: 18.5rem; 
    height: 18.5rem; 
  }
  
  .social-card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    border-radius: 50%;
    margin: 0 auto; 
    display: block;
    margin-top: -0.6rem;  
    border: 2.5px solid #495e57 ; 
  }
  
  .card-content { 
    padding: 14px;    
  }
  
  .card-content h3 {  
    margin: 1px;
   }
  
  .card-content p { 
    margin: 8px 0 0;
    color: #666;
  }
