.social-card-container {
    text-align: center;
    background: #EDEFEE;
}

.testimonial-heading {
    padding: 16px 0;
}

.social-card-list {
    display: flex;    /* Flexbox elrendezés. Egymás mellé kerül nem egymás alá. */
    flex-wrap: wrap;    /* Ha kifut a sorból, akkor sortörés. Így ha kicsinyítjük a képernyőt egymás alá rakja őket.*/
    justify-content: center;    
    gap: 10px;
}
